<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vegetable Store</title>
    <link rel="stylesheet" href="/static/css/veg.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
       <header>
<div class="organic">
            <img src="/static/images/organic1.jpeg" alt="" srcset="">
        </div>
        <div class="header-1">
            <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>Veg Easy</a>
            <form action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="    Search here..">
                <label for="search-box" class=" fas fa-search"></label>
            </form>
        </div>
        <div class="header-2">
            {{!-- <div id="menu-bar" class="fas fa-bars"></div> --}}
            <nav class="navbar">
                <a href="/">home</a>
               
              <select id="nname" onchange="navigateToPage()">
                <option value="">Select Category</option>
                <option value="/fruit">Fruits</option>
                <option value="/veg">Vegetables</option>
            </select>


                <a href="/about">About Us</a>
                <a href="/login">Register/Login</a>
            </nav>
            <div class="icons">
                <a href="/cart" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="/profile" class="fas fa-user-circle"></a>
            </div>
        </div>
    </header>


    <main class="product-section">
      <h1>Fresh Vegetables</h1>
      <div class="product-grid">
        <div class="product-card">
          <img src="https://images.pexels.com/photos/533280/pexels-photo-533280.jpeg?cs=srgb&dl=pexels-pixabay-533280.jpg&fm=jpg" alt="Tomato" />
          <h2>Tomato</h2>
          <p>&#8377; 60 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="https://media.istockphoto.com/id/1283613281/photo/bounch-of-bottle-gaurd-vegetable.jpg?s=612x612&w=0&k=20&c=q2gGsRoS3WBf82-rcV92M_iED3CSHzht5JFGj-BkSZo=" alt="Bottle-Gourd" />
          <h2>Bottle Gourd</h2>
          <p>&#8377;40 / piece</p>
          <button class="btn-add">Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="https://images.pexels.com/photos/144248/potatoes-vegetables-erdfrucht-bio-144248.jpeg" alt="Potato" />
          <h2>Potato</h2>
          <p>&#8377;35 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://media.gettyimages.com/id/104822169/photo/peas-and-pea-pods.jpg?s=612x612&w=gi&k=20&c=Ryw0dy4_MkweWY-xsZiAwzgZ6rVuf8ZEw-Y9DPWPBB0=" alt="Pea" />
          <h2>Pea</h2>
          <p>&#8377;120 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://c1.wallpaperflare.com/preview/888/182/477/serrano-peppers-peppers-chiles-chili.jpg" alt="Green Chilli" />
          <h2>Green Chilli</h2>
          <p>&#8377; 100 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://media.istockphoto.com/id/936258034/photo/closeup-cucumber-growing-at-farm-background.jpg?s=612x612&w=0&k=20&c=glLF4KBcVSSeBCd8ox-gPdeXerBo4ziwuqJs2hknXYk=" alt="Cucumber" />
          <h2>Cucumber</h2>
          <p>&#8377;60 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://c1.wallpaperflare.com/preview/219/256/938/onion-vegetables-power-nature.jpg" alt="Onion" />
          <h2>Onion</h2>
          <p>&#8377;60 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://c1.wallpaperflare.com/preview/691/591/725/vegetable-cauliflower-cruciferous-healthy.jpg" alt="Cauliflower" />
          <h2>Cauliflower</h2>
          <p>&#8377;45 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
          <img src="https://t3.ftcdn.net/jpg/03/36/29/26/360_F_336292653_D7vlCbHuMvHyoulmj1XweCihlykoEUnI.jpg" alt="Bitter Gourd" />
          <h2>Bitter Gourd</h2>
          <p>&#8377;32 / kg</p>
          <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://c1.wallpaperflare.com/preview/228/105/187/white-cabbage-cabbage-cabbage-leaves-vegetables.jpg" alt="Cabbage">
            <h2>Cabbage</h2>
            <p>&#8377;58 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://t3.ftcdn.net/jpg/01/40/18/68/360_F_140186844_NJlRTaznWxy4OHLZOZsjp0yAYnMrkV7x.jpg" alt="Beat-root">
            <h2>Beat-root</h2>
            <p>&#8377;45 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://cdn.pixabay.com/photo/2022/12/17/19/11/kidney-beans-7662225_1280.jpg" alt="Bean">
            <h2>Kidney Bean</h2>
            <p>&#8377;150 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw4SX66OtNA8_F1hVHgb5CX9uniU4ZFdv5Nw&s" alt="Jack-fruit">
            <h2>Jack-fruit</h2>
            <p>&#8377;65 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://images7.alphacoders.com/294/thumb-1920-294030.jpg" alt="Pumpkin">
            <h2>Pumpkin</h2>
            <p>&#8377;60 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://media.gettyimages.com/id/157473776/photo/two-green-bell-peppers-isolated-on-a-plain-white-background.jpg?s=612x612&w=gi&k=20&c=HPoNrMcrTNJclbwTEhNkkXWB9RRpIU4v-NvxKXN_594=" alt="Capsicum">
            <h2>Capsicum</h2>
            <p>&#8377;100 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://c4.wallpaperflare.com/wallpaper/163/888/1008/aubergine-background-color-eggplant-wallpaper-preview.jpg" alt="Brinjal">
            <h2>Brinjal</h2>
            <p>&#8377;55 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://img.freepik.com/premium-photo/close-upl-bundle-fresh-spinach-white-background_525574-1072.jpg" alt="Spinach">
            <h2>Spinach</h2>
            <p>&#8377;60 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://c1.wallpaperflare.com/preview/14/1022/411/ginger-root-spice-herb.jpg" alt="Ginger">
            <h2>Ginger</h2>
            <p>&#8377;100 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://img.freepik.com/premium-photo/turnip-with-white-background-high-quality-ultra-hd_889056-5685.jpg" alt="Turnip">
            <h2>Turnip</h2>
            <p>&#8377;80 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>

        <div class="product-card">
            <img src="https://c4.wallpaperflare.com/wallpaper/103/812/990/okra-wallpaper-preview.jpg" alt="Ladyfinger">
            <h2>Ladyfinger</h2>
            <p>&#8377;60 / kg</p>
            <button class="btn-add">Add to Cart</button>
        </div>
      </div>
    </main>

     
    <footer class="footer">
      <p>© 2024 Veg Easy. All rights reserved.</p>
    </footer>
    <script>
    function navigateToPage() {
        var selectElement = document.getElementById('nname');
        var selectedValue = selectElement.value;
        if (selectedValue) {
            window.location.href = selectedValue;
        }
    }
</script>

    <script src="project.js"></script>
  </body>
</html>